body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    /* display: flex; */
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.contact-left h2{
    text-align: center;
    
}
.contact-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 5%;
    width: 30vh;
    margin: 15px 0px 10px 0px;
    
}
.contact-name{
  color: blue;
}
.btn{
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}